@font-face {
  font-family: "iconfont"; /* Project id 4131191 */
  src: url('//at.alicdn.com/t/c/font_4131191_j1llzoi29v9.woff2?t=1687232971461') format('woff2'),
       url('//at.alicdn.com/t/c/font_4131191_j1llzoi29v9.woff?t=1687232971461') format('woff'),
       url('//at.alicdn.com/t/c/font_4131191_j1llzoi29v9.ttf?t=1687232971461') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfontjiantou4:before {
  font-size: 14px;
  content: "\e634";
}

.icon-biaoqian:before {
  content: "\e654";
}

.icon-shijian:before {
  content: "\e70f";
}

.icon-a-business-icon-Bigpromotion:before {
  content: "\e822";
}
